
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">

    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Avances

            </h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Date depot </th>
                  <th scope="col">somme</th>
                  <th scope="col">Raison</th>
                 
                  <th scope="col">Etat</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>

                  <td>
                  </td>
                  <td>
 
                  </td>
                  <td>

                  </td>
                 
                 
                
                </tr>
                
                
                
               
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
    </div>

<!---->
<br>
<br>
    <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Congés</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Date depot</th>
                    <th scope="col">Date début</th>
                    <th scope="col">Nombre de jours</th>
                    <th scope="col">type Congé</th>
                    <th scope="col">Etat</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
  
                    <td>
                    </td>
                    <td>
   
                    </td>
                    <td>
  
                    </td>
                    <td>
               
                    </td>
                   
                  
                  </tr>
                  
                  
                  
                 
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
      </div>
    <!---->
    <br>
    <br>
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Reclamations</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Date depot</th>
                    <th scope="col">type</th>
                    <th scope="col">Contenu</th>
                    <th scope="col">Etat</th>
                
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
  
                    <td>
                    </td>
                    <td>
   
                    </td>
                    <td>
  
                    </td>
                    
                   
                  
                  </tr>
                  
                  
                  
                 
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
      </div>
      </div>
  
</div>
  