<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">

    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Avances

            </h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                    <th scope="col">Nom & Prénom Employe </th>
                  <th scope="col">Date depot </th>
                  <th scope="col">somme</th>
                  <th scope="col">Raison</th>
                 
                  <th scope="col">decisions</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <!--
                   <ng-container *ngFor="let product of products">
    <li *ngIf="product.distributor.id == distributor.id">dist</li>
  </ng-container>
                -->
                <ng-container *ngFor="let item of tabA ;index as i">
                <tr *ngIf="item.etat=='non traite'" >

                  <td>
                    {{item.nomD}}  {{item.prenomD}}
                  </td>
                  <td>
                    {{item.Date_depot}}
 
                  </td>
                  <td>
                    {{item.somme}} Dt

                  </td>
                  <td>
                    {{item.raison}}

    

                </td>
                  <td>
                   <!-- <a href="#" class="view" title="View Details" data-toggle="tooltip"><i class="material-icons">&#xE5C8;</i></a>-->
                    <button type="button" class="btn btn-outline-primary" (click)="accepterDemande(item._id,item.nomD,item.prenomD,item.Date_depot,item.somme,item.raison)">Accepter</button>
                    <button type="button" class="btn btn-outline-warning" (click)="refuserDemande(item._id,item.nomD,item.prenomD,item.Date_depot,item.somme,item.raison)">refuser</button>

                  </td>
                 
                 
                
                </tr>
              </ng-container>
                
                
                
               
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
    </div>

<!---->
<br>
<br>
    <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Congés</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Nom & Prénom Employe </th>
                    <th scope="col">Date depot</th>
                    <th scope="col">Date début</th>
                    <th scope="col">Nombre de jours</th>
                    <th scope="col">type Congé</th>
                    <th scope="col">decision</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container  *ngFor="let item of tabC ;index as i">
                  <tr *ngIf="item.etat=='non traite'">
  
                    <td>
                      {{item.nomD}}  {{item.prenomD}}
                    </td>
                    <td>
                      {{item.Date_depot}}
   
                    </td>
                    <td>
                      {{item.date_d}}
                    </td>
                    <td>
                      {{item.nombre_jour}}
               
                    </td>
                    <td>
                      {{item.typeConge}}
                    </td>
                    <td>
                        <!--<a href="#" class="view" title="View Details" data-toggle="tooltip"><i class="material-icons">&#xE5C8;</i></a>-->
                        <button type="button" class="btn btn-outline-primary" (click)="accepterDemandeC(item._id,item.nomD,item.prenomD,item.Date_depot,item.nombre_jour,item.typeConge)">Accepter</button>
                    <button type="button" class="btn btn-outline-warning" (click)="refuserDemandeC(item._id,item.nomD,item.prenomD,item.Date_depot,item.nombre_jour,item.typeConge)">refuser</button>

                      </td>
                   
                  
                  </tr>
                </ng-container>
                  
                  
                  
                 
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
      </div>
    <!---->
    <br>
    <br>
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Reclamations</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Nom & Prénom Employe </th>
                    <th scope="col">Date depot</th>
                    <th scope="col">type</th>
                    <th scope="col">Contenu</th>
                    <th scope="col">decision</th>
                
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>

                  <ng-container  *ngFor="let item of tabR ;index as i">
                    <tr *ngIf="item.etat=='non traite'">
  
                    <td>
                      {{item.nomD}}  {{item.prenomD}}
                    </td>
                    <td>
                      {{item.Date_depot}}
                    </td>
                    <td>
                      {{item.type_R}}
  
                    </td>
                    <td>
                      {{item.text_R}}
                    </td>
                         <td>
                    <!--<a href="#" class="view" title="View Details" data-toggle="tooltip"><i class="material-icons">&#xE5C8;</i></a>-->
                    <button type="button" class="btn btn-outline-primary" (click)="accepterDemandeR(item._id,item.nomD,item.prenomD,item.Date_depot,item.type_R,item.text_R)">Accepter</button>
                    <button type="button" class="btn btn-outline-warning" (click)="refuserDemandeR(item._id,item.nomD,item.prenomD,item.Date_depot,item.type_R,item.text_R)">refuser</button>



                  </td>
                   
                  
                  </tr>
                  </ng-container>
                  
                  
                  
                 
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
      </div>
      </div>
  
</div>
  
